<div class="container__footer">
  <div class="footer-page__text">
    <h2>Assign our newsletter and send us a message</h2>
  </div>
  <div class="footer-page__form">
    <form action="#">
      <label>Email:</label><br>
      <input type="email"><br>
      <label>Your message:</label><br>
      <textarea></textarea><br>
      <button>Submit</button>
    </form>

  </div>

  <div class="footer-page__abouts">
    <strong>About Us</strong>
    <p><a href="#">News</a></p>
    <p><a href="#">Community</a></p>
    <p><a href="#">Privacy Policy</a></p>
    <p><a href="#">Help & FAQ</a></p>
</div>

  <div class="footer-page__contact">
    <strong>Contact</strong>
    <p>Pedro Gabriel</p>
    <p>+55 5555-4444</p>
    <p><a href="https://github.com/pedrogabriel2002">Github</a></p>
    <p><a href="https://www.linkedin.com/in/pedro-gabriel-40b0ab1a8/">Linkedin</a></p>
  </div>
</div>
