<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="https://t.ctcdn.com.br/Nj2y1rY3L0yh2Zgros-SMuWFN4k=/1024x576/smart/i325730.png"
    cardTitle="MONSTER HUNTER WORLD"
    cardDescription="Discover the new expansion coming to the Monster Hunter World game. The DLC Iceborne comes with new monsters to hunt."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    photoCover="https://www.cyberpunk.net/build/images/pre-order/buy-b/keyart-ue-pt-br@2x-cd66fd0d.jpg"
    cardTitle="Cyberpunk 2077: Phantom Liberty the new DLC for Cyberpunk 2077"
    ></app-small-card>
    <app-small-card
    Id="3"
    photoCover="https://t.ctcdn.com.br/fH1yxz9Fyx2KPvMdFfe19D4-Fgs=/1200x675/smart/i528712.jpeg"
    cardTitle="When the new title for the Elder Scrolls series coming out..."
    ></app-small-card>
    <app-small-card
    Id="4"
    photoCover="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000033071/3f7ee6aa3482b514bd443e116022b038a9728f017916ed37da3f09f731a7d5f2"
    cardTitle="The Witcher 3 is coming out on the console Switch"
    ></app-small-card>
  </div>
</div>
